<h1>
    Admin</h1>

<h4>Change games settings</h4>
<form method="POST" action="/admin">
    <table class="admin">
        <tr>
            <td>
                <label>Number of games:</label>
            </td>
            <td>
                <input id="Ngames" value={{settings.Ngames}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 1 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Number of rounds at each game:</label>
            </td>
            <td>
                <input id="Nrounds" value={{settings.Nrounds}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 1 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Number of players:</label>
            </td>
            <td>
                <input id="Nplayers" value={{settings.Nplayers}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 1 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Number of squares:</label>
            </td>
            <td>
                <input id="Nsquares" value={{settings.Nsquares}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Hive length</label>
            </td>
            <td>
                <input id="Hl" value={{settings.Hl}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 1 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Hive Width</label>
            </td>
            <td>
                <input id="Hw" value={{settings.Hw}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 1 or more!</td>
        </tr>
        <tr>
            <td>
                <label>CH rate:</label>
            </td>
            <td>
                <input id="chRate" value={{settings.CHrate}} onkeyup="validateForm()" />
            </td>
            <td>Need to be between 0 and 1!</td>
        </tr>
        <tr>
            <td>
                <label>Max Cost:</label>
            </td>
            <td>
                <input id="maxCost" value={{settings.maxCost}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Min Cost:</label>
            </td>
            <td>
                <input id="minCost" value={{settings.minCost}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>

        <tr>
            <td>
                <label>Payoff:</label>
            </td>
            <td>
                <input id="payoff" value={{settings.payoff}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Extra Payoff:</label>
            </td>
            <td>
                <input id="extraPayoff" value={{settings.extraPayoff}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Currency:</label>
            </td>
            <td>
                <select id="currency">
                    <option {{#ifEqual settings.currency '&#8362;'}}selected{{/ifEqual}}>&#8362;</option>
                    <option {{#ifEqual settings.currency '$'}}selected{{/ifEqual}}>$</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Exchange Rate:</label>
            </td>
            <td>
                <input id="exchangeRate" value={{settings.exchangeRate}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Show Up Fee:</label>
            </td>
            <td>
                <input id="showUp" value={{settings.showUp}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Time out:</label>
            </td>
            <td>
                <input id="timeoutTime" value={{settings.timeoutTime}} onkeyup="validateForm()" />
                <span> seconds</span>
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Time out - Penalty:</label>
            </td>
            <td>
                <input id="timeoutPenalty" value={{settings.timeoutPenalty}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Timeouts Until kicked:</label>
            </td>
            <td>
                <input id="timeoutKick" value={{settings.timeoutKick}} onkeyup="validateForm()" />
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Time for payoff message to be displayed:</label>
            </td>
            <td>
                <input id="messageTime" value={{settings.messageTime}} onkeyup="validateForm()" />
                <span> seconds</span>
            </td>
            <td>Need to be 0 or more!</td>
        </tr>
        <tr>
            <td>
                <label>Game mode:</label>
            </td>
            <td>
                <select id="mode">

                    <option {{#ifEqual settings.gameMode 'Singleton'}}selected{{/ifEqual}}>Singleton</option>
                    <option {{#ifEqual settings.gameMode 'Patent'}}selected{{/ifEqual}}>Patent</option>
                    <option {{#ifEqual settings.gameMode 'No Patent'}}selected{{/ifEqual}}>No Patent</option>
                    <option {{#ifEqual settings.gameMode 'Trade Secrets'}}selected{{/ifEqual}}>Trade Secrets</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Map number:</label>
            </td>
            <td>
                <select id="mapNumber">

                    <option {{#ifEqual settings.mapNumber '1'}}selected{{/ifEqual}}>1</option>
                    <option {{#ifEqual settings.mapNumber '2'}}selected{{/ifEqual}}>2</option>
                    <option {{#ifEqual settings.mapNumber '3'}}selected{{/ifEqual}}>3</option>
                    <option {{#ifEqual settings.mapNumber '4'}}selected{{/ifEqual}}>4</option>
                    <option {{#ifEqual settings.mapNumber '5'}}selected{{/ifEqual}}>5</option>
                    <option {{#ifEqual settings.mapNumber '6'}}selected{{/ifEqual}}>6</option>
                    <option {{#ifEqual settings.mapNumber '7'}}selected{{/ifEqual}}>7</option>
                    <option {{#ifEqual settings.mapNumber '8'}}selected{{/ifEqual}}>8</option>
                    <option {{#ifEqual settings.mapNumber '9'}}selected{{/ifEqual}}>9</option>
                    <option {{#ifEqual settings.mapNumber '10'}}selected{{/ifEqual}}>10</option>

                </select>
            </td>
        </tr>
    </table>
    <button type="button" id="save" class="btn btn-success">Save</button>
</form>
<p class='info'>
    Clicking save will reset any current game.
</p>

<div class="nav">
    <ul>
        <li>
            <a href="/data" target="_blank">
                <i class="fas fa-file-download" style="font-size: 3em; padding-right:15.75px;"></i>
                <span>Data</span>
            </a>
        </li>
        <li>
            <a href="/map" target="_blank">
                <i class="fas fa-map-marked" style="font-size: 3em;"></i>
                <span>Map</span>
            </a>
        </li>
    </ul>

</div>


<script src="js/settings.js"></script>
<script>
    var mode = '{{settings.gameMode}}';
</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">