<div id="form" align="center">

    <img src="images/logo.png" border="1" width="40%" />
    <div class="panel panel-default w-25 p-3" id="miniform">
        <div class="panel-body">


            <div class="input-group lead">
                <span class="input-group-addon inputlg">
                    <span style="font-size: 16px">
                        <b>ID:</b>
                    </span>
                </span>

                <input type="text" id="subjectID" style="margin-right:10px;" class="form-control input-lg" placeholder="Enter your ID" />

            </div>
            <br>
            <div class="input-group lead">
                <span class="input-group-addon inputlg">
                    <span style="font-size: 16px">
                        <b>Age:</b>
                    </span>
                </span>

                <input type="text" id="age" class="form-control input-lg" placeholder="Enter your age" />
            </div>



            <br/>
            <div style="font-size: 20px">
                <label style="font-weight:normal;">Gender:</label>
                <input type="radio" id="genderM" name="contact" value="M">
                <label for="genderM" style="font-weight:normal;">Male</label>
                <input type="radio" id="genderF" name="contact" value="F">
                <label for="genderF" style="font-weight:normal;">Female</label>
            </div>
            <div id='form-error' style="display: none;">
                <span style="color:red"></span>
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-lg" id="sign-in">Submit</button>
            <br>
            <br> {{!--
            <img src="images/poster.PNG" height="500px" /> --}}
        </div>
    </div>
    <br>
    <img src="images/techlogo.png" border="1" width="12%" id="techlogo" />
</div>
<div id="instruction-general" style="display: none;" dir="rtl" align="right">
    <div id="instGeneral">
        <h1> ברוכים הבאים למשחק חיפוש הזהב.</h1>
        <div class="instruc">
            <p class="blocks">
                {{!-- במשחק זה מטרתכם להשיג את מספר הנקודות הרב ביותר. --}}
                    <span id="paralelMessage" class="paralelMessage"></span>  
                <br/>בכל תור עליך לבחור אם לחפש זהב או לא. לחיפוש הזהב יש עלות, המשתנה בכל תור.
               <b><u>
                <br/>שימו לב כי עלות החיפוש משתנה בכל סיבוב משחק,אולם מבנה הרווחים אינו משתנה</u>.
                <u>
                <br/>כלומר כאשר עלות החיפוש גבוהה,יתכן ולא כדאי לחפש באותו התור</u>.
                </b>
                <br/>
            </p>
            <p>

                <p>
                    אם בחרתם לחפש זהב, עליכם ללחוץ על אחד המשושים באזור החיפוש.
                    <br/> הזהב נמצא בתוך מכרות, כל מכרה מכיל 3 משושים ונראה באופן הבא:
                </p>
                <img src="images/submarine1.png" height="60px" />
                <span style="margin: 0 10px 0 10px;"> או </span>
                <img src="images/submarine2.png" height="60px" />
                <br/>
                <br>
                <p>
                    <b>שימו לב:</b>
                    <br> 2 מכרות שונים לא יכולים להיות צמודים זה לזה:
                    <br>
                    <br>
                    <b>
                        <font color="green">מצב אפשרי:</font>
                    </b>
                    <br>
                    <br>
                    <img src="images/possible.PNG" height="150px" />
                    <br>
                    <br>
                    <b>
                        <font color="red">מצב אינו אפשרי:</font>
                    </b>
                    <br>
                    <br>
                    <img src="images/impossible.PNG" height="170px" />
                    <br>
                </p>
                <br/>
                 {{!-- {{#ifNotEqueal settings.gameMode 'Singleton'}}
                <p>שטח החיפוש משותף לכולם, ולכן פעולות השחקנים האחרים משפיעות על הרווחים שלכם. {{/ifNotEqueal}}
                </p> --}}

                <span id="paralelMessage2" class="paralelMessage"></span> 


                <p style="float: center;">
                    <b>לוח משחק:</b>
                    <br>
                    <br>
                </p>
                <img src="images/gameboard.jpg" style="float: center;" />
                <br>
        </div>
        <button type="button" class="btn btn-primary" id="continue-general" href="#top#">המשך</button>
    </div>
</div>
<div id="instructions" style="display: none;" dir="rtl" align="right">
    <div class="instruc">
        <div id="singleton-instructions" hidden>
            <div dir="rtl" id="instSingleton">
                <p>
                    במידה ולא מצאתם, המשושה יצבע בשחור אצלכם על המסך (ולא
                    <br/> במסכים של השחקנים האחרים) ולא תוכלו ללחוץ שוב על אותו
                    <br/> משושה.

                </p>
                <p>
                    במידה ומצאתם, אתם תקבלו את רווחי הזהב באותו משושה,
                    <br/> המשושה יצבע בצהוב רק במסך שלכם, ולא יצבע כלל במסכים האחרים.
                </p>
                <p>
                    שימו לב כי גודל כל מכרה זהב הוא 3 משושים.
                    <br/> בכל תור תוכלו לבדוק משושה אחד בלבד. החיפוש מוגבל לאזור החיפוש בלבד,
                    <br/> ולכן על שפת אזור החיפוש (במסגרת ה"כוורת") יתכנו מכרות זהב שחלקם מחוץ לשטח המותר בחיפוש.
                </p>
                <p>
                    לאחר שמשושה נצבע בצבע כלשהו (שחור\ צהוב) לא ניתן לבחור בו שוב.
                </p>
                <img src="images/inst1.jpg" />
                <img src="images/inst2.jpg" />
            </div>
        </div>
        <div id="trade-instructions" hidden>
            <div id="instTD">
                <p>
                    במידה ולא מצאתם, תשלמו את עלות החיפוש.
                    <br /> המשושה יצבע בשחור אצלכם על המסך (ולא במסכים של השחקנים האחרים) ולא תוכלו ללחוץ שוב על אותו משושה.
                </p>
                <p>
                    במידה ומצאתם, אתם תקבלו את רווחי הזהב באותו משושה,
                    <br/> המשושה יצבע בצהוב רק במסך שלכם, ולא יצבע כלל במסכים האחרים.
                </p>
                <p>
                    אם תמצאו זהב במשושה אחרי ששחקן אחר כבר בחר אותו,
                    <br/> לא תוכלו לקבל ממנו רווח,והמשושה יצבע בצבע אדום.
                </p>
                <p>
                    שימו לב כי גודל כל מכרה זהב הוא 3 משושים.
                    <br/> בכל תור תוכלו לבדוק משושה אחד בלבד. החיפוש מוגבל לאזור החיפוש בלבד,
                    <br/> ולכן על שפת אזור החיפוש (במסגרת ה"כוורת") יתכנו מכרות זהב שחלקם מחוץ לשטח המותר בחיפוש.
                </p>
                <p>
                    לאחר שמשושה נצבע בצבע כלשהו (שחור\ צהוב) לא ניתן לבחור בו שוב.
                </p>
                <img src="images/inst1.jpg" />
                <img src="images/inst2.jpg" />
            </div>
        </div>
        <div id="noPatnet-instructions" hidden>
            <div id="instNP">
                <p>
                    במידה ולא מצאתם, המשושה יצבע בשחור אצלכם על המסך (ולא במסכים
                    <br/> של השחקנים האחרים).
                </p>
                <p>
                    במידה ומצאתם, אתם תקבלו את רווחי הזהב באותו משושה,
                    <br/> המשושה יצבע בצהוב אצלכם, ובאדום במסך של השחקנים האחרים.
                    <br/> במידה ושחקן אחר מצא זהב, המשושה שבחר יסומן באדום על המסך שלכם.
                </p>
                <p>
                    אם שני שחקנים או יותר בוחרים את אותו משושה המכיל זהב בו זמנית,
                    <br/> הרווח המתקבל לכל שחקן יהייה נמוך יותר ככל שיותר שחקנים בחרו באותו משושה.
                </p>
                <p>
                    שימו לב כי גודל כל מכרה זהב הוא 3 משושים.
                    <br/> בכל תור תוכלו לבדוק משושה אחד בלבד. החיפוש מוגבל לאזור החיפוש בלבד,
                    <br/> ולכן על שפת אזור החיפוש (במסגרת ה"כוורת") יתכנו מכרות זהב שחלקם מחוץ לשטח המותר בחיפוש.
                </p>
                <p>
                    לאחר שמשושה נצבע בצבע כלשהו (שחור\ צהוב\אדום) לא ניתן לבחור בו שוב.
                </p>
                <img src="images/inst1.jpg" />
                <img src="images/inst3.jpg" />
            </div>
        </div>
        <div id="patent-instructions" hidden>
            <div id="instPatent">
                <p>
                    במידה ולא מצאתם, המשושה יצבע בשחור אצלכם על המסך (ולא במסכים
                    <br/> של השחקנים האחרים).

                </p>
                <p>
                    במידה ומצאתם, אתם תקבלו את רווחי הזהב באותו משושה,
                    <br/> המשושה יצבע בצהוב אצלכם, ובאדום במסך של השחקנים האחרים.
                    <br/> משושה צהוב, מעניק לכם רישיון בלעדי לחפש זהב במשושים הסמוכים לו.
                    <br/> משושה אדום המופיע על המסך שלכם, משמעותו היא כי שחקן אחד זכה בבלעדיות על חיפוש זהב סביב משושה שמצא.
                </p>
                <p>
                    אם שני שחקנים או יותר בוחרים את אותו משושה בו זמנית,
                    <br/> הרווח וכן הבלעדיות על הרווח מהמשושים הסמוכים יגיעו לאחד מבין שחקנים אלו שיבחר באקראי.
                </p>
                <p>
                    שימו לב כי גודל כל מכרה זהב הוא 3 משושים.
                    <br/> בכל תור תוכלו לבדוק משושה אחד בלבד. החיפוש מוגבל לאזור החיפוש בלבד,
                    <br/> ולכן על שפת אזור החיפוש (במסגרת ה"כוורת") יתכנו מכרות זהב שחלקם מחוץ לשטח המותר בחיפוש.
                </p>
                <p>
                    לאחר שמשושה נצבע בצבע כלשהו (שחור\ צהוב\אדום) לא ניתן לבחור בו שוב.
                </p>
                <img src="images/inst1.jpg" />
                <img src="images/inst4.jpg" />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="continue">המשך</button>
</div>
<div id="exam" style="display: none; margin-top: 5%;" dir="rtl" align="right">
    <h3>אנא ענה/י על מנת לוודא שהבנת את הוראות המשחק:</h3>
    <div class="instruc2">
        <div>
            <h4>שאלה</h4>
            <div>
                <input type="radio" name="question1">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question1">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question1" id="answer1" >
                <span>תשובה</span>
                <br />
                <input type="radio" name="question1">
                <span>תשובה</span>
                <br />
            </div>
        </div>
        <div>
            <h4>שאלה</h4>
            <div>
                <input type="radio" name="question2" id="answer2" >
                <span>תשובה</span>
                <br />
                <input type="radio" name="question2">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question2">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question2">
                <span>תשובה</span>
                <br />
            </div>
        </div>
        <div>
            <h4>שאלה</h4>
            <div>
                <input type="radio" name="question3">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question3">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question3">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question3" id="answer3" >
                <span>תשובה</span>
                <br />
            </div>
        </div>
        <div>
            <h4>שאלה</h4>
            <div>
                <input type="radio" name="question4">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question4">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question4">
                <span>תשובה</span>
                <br />
                <input type="radio" name="question4" id="answer4" >
                <span>תשובה</span>
                <br />
            </div>
        </div>
        <br />
        <br />
        <span id="qError" style="display:none; color:red; font-weight:bold;">תשובתך לשאלה
            <span id="qNum"></span> אינה נכונה</span>
        <br />
        <br />
    </div>
    <button type="button" class="btn btn-primary" id="exam-answer">המשך</button>
</div>
<div id="instructions2" style="display: none; margin-top: 5%;" dir="rtl" align="right">
    <div class="instruc">
        <p>
            ניסוי זה כולל
            <span id="instruction-NG"></span>
            משחקים ו-
            <span id="instruction-NR"></span>
            סיבובים בכל משחק.
            <br /> בתום המשחקים, יבחר סיבוב אחד באופן רנדומלי ומספר הנקודות שקיבלתם בסיבוב זה יוחלפו בכסף (
            <span id="instruction-exchange"></span>
            ).
            <br /> סכום זה יתווסף או יגרע מהתשלום על הגעתך למשחק בסך
            <span id="instruction-showup"></span>.
            <br> כלומר לאחר המשחק יוותרו ברשותכם יותר או פחות מ
            <span id="instruction-showup2"></span>
            ,כתלות בביצועיכם בסיבוב הרנדומלי שיבחר.


        </p>
    </div>
    <button type="button" class="btn btn-primary" id="ready-to-start">התחל משחק</button>
</div>
<div id='waiting' style="display: none;">
    <span>
        waiting for
        <span id="nplayers"></span> more players...
    </span>
</div>
<div id="game" style="display:none; font-size:30px;">
    <table border="0" id="grid">
        <tr>
            <td id="map">
                <div class="container">
                    <div class="row">

                        <div class="span6" style="text-align:left">
                            {{!--
                            <h1 style="position: relative; left:40%;">The Digging Area</h1> --}}
                            <div id="container">
                                {{!-- grid --}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
    </table>



    <p id='test'></p>
</div>

<div id="cover">


</div>

<div id="message-content-background">

</div>

<div id="message-content"></div>
<div id="message-content2"></div>

<div id="message">
    <div id="message-search">
        <button type="button" class="btn btn-primary" id="btn-search" onclick="clickedSearch()">Search</button>
    </div>
    <div id="message-skip">
        <button type="button" class="btn btn-primary" id="btn-skip" onclick="clickedSkip(-1)">Skip</button>
    </div>
</div>
<div id="message-payoff">

</div>

<div id="message-earning">
    <div id="payoffMessage">Your Payoff is:</div>
    <div id="revenue-title">
        revenue
    </div>
    <div id="revenue">7</div>

    {{!-- <div id="minus">-</div> --}}
    <div id="cost-title">
        cost
    </div>
    <div id="costRes">4</div>

    <div id="equal">=</div>
    <div id="thePayoff-title">
        payoff
    </div>
    <div id="thePayoff">
        3
    </div>
</div>
<div id="betweenGames" style="display: none;">
    <h3>
        סיימת
        <b>
            <span id="NG"></span>
        </b> סיבובים עד כה.
        <br /> במסך הבא תתחיל לשחק במשחק חדש,
        <u>אותו משחק</u>
        ,למשך
        <b>
            <span id="NR"></span>
        </b> סיבובים.
        <br /> שים לב! אזור החפירה שונה מהקודם,כלומר המכרות לאו דווקא באותו מקום.
    </h3>
    <button type="button" class="btn btn-primary" id="start-next">התחל משחק הבא</button>
</div>
<div id="thankyou" style="display: none;">
    <h1>
        <font color="red">***DO NOT CLOSE THE WINDOW***</font>
    </h1>
    <br>
    <table border="1">
        <tr>
            <td>
                <h2>Thank you for participating!</h2>
                <h3>Game
                    <span id="chosenGame"></span>, Round
                    <span id="chosenRound"></span> was randomly chosen.
                    <br /> The payoff was
                    <span id="chosenValue"></span> points.
                </h3>
                <h3 id="showUp-explain"></h3>
                <h3>Your final reward is
                    <span id="reward"></span>
                </h3>
                (
                <span id="rate"></span>).</p>
                <br>
            </td>
        </tr>
    </table>
    <h1>
        <font color="red">***DO NOT CLOSE THE WINDOW***</font>
    </h1>
</div>
<!--
<input type="text" id="t" />
-->



<script src="js/game.js"></script> {{!--
<script>
    var decodegeneral = decodeURIComponent("{{{general}}}");
    var generalInstructions = JSON.parse(decodegeneral);
    var decodesingleton = decodeURIComponent("{{{singleton}}}");
    var singletonInstructions = JSON.parse(decodesingleton);
    var decodeTD = decodeURIComponent("{{{TD}}}");
    var TDInstructions = JSON.parse(decodeTD);
    var decodeNP = decodeURIComponent("{{{NP}}}");
    var NPInstructions = JSON.parse(decodeNP);
    var decodepatent = decodeURIComponent("{{{patent}}}");
    var patentInstructions = JSON.parse(decodepatent);


    console.log(generalInstructions);



    $("#instGeneral")[0].innerHTML = generalInstructions;
    $("#instSingleton")[0].innerHTML = singletonInstructions;
    $("#instTD")[0].innerHTML = TDInstructions;
    $("#instNP")[0].innerHTML = NPInstructions;
    $("#instPatent")[0].innerHTML = patentInstructions;
</script> --}}