<div align="center">
  <h1>הוראות למשחק</h1>

  <button type="button" id="saveInst" class="btn btn-success">שמור הוראות</button>

  <br>
  <b>
    הוראות כלליות </b>
  <br>


  <textarea rows="40" cols="250" id="instructionsManual1">
    

  </textarea>
  <br>
  <b>
    הוראות לסינגלטון
  </b>
  <br>

  <br>
  <textarea rows="40" cols="250" id="instructionsManualSingleton">

  </textarea>
    <b>
הוראות לטרייד סיקרטס  </b> 
  <br>
  <textarea rows="40" cols="250" id="instructionsManualTrade">

  </textarea>

    <b>
    הוראות למשחק ללא פטנט
  </b>
  <br>
  <textarea rows="40" cols="250" id="instructionsManualnoPatent">

  </textarea>
      <b>
הוראות למשחק עם פטנט  </b>
  <br>
  <textarea rows="40" cols="250" id="instructionsManualPatent">

  </textarea>

  <button type="button" id="saveInst" class="btn btn-success">שמור הוראות</button>




</div>

<script src="js/instructions.js"></script>