<div id="game" style="display:none; font-size:30px;">
    <table border="0">
        <tr>
            <td>
                <div class="container">
                    <div class="row">
                        <div class="span6" style="text-align:left">
                            <div id="container"> </div>
                        </div>
                    </div>
                </div>
            </td>

 
        </tr>
   
    </table>
  
    <p id='test'></p>
</div>
  


<script src="js/grid.js"></script>
<script>
    var decodedJson = decodeURIComponent("{{{grid}}}");
    var curMap = JSON.parse(decodedJson);
    var decodedRows = decodeURIComponent("{{{Hl}}}");
    var Rows = JSON.parse(decodedRows);
    var decodedCols = decodeURIComponent("{{{Hw}}}");
    var Cols = JSON.parse(decodedCols);

    console.log("curMap:");
    console.log(curMap);

    function colorGrid() {
        for (var i = 0; i < Rows; i++) {
            for (var j = 0; j < Cols; j++) {
                var mapValue = curMap[i][j];

                var hex = $("polygon[hex-row=" + i + "][hex-column=" + j + "]")[0];

                if (mapValue) {
                    hex.classList.add('clickedCorrect');
                } else {
                    hex.classList.add('clickedWrong');
                }

            }
        }
    }

    colorGrid();

</script>