form label{
    font-weight: bold;
}
input{
    width: 50px;
}
 td{
    padding: 20px;
}

#grid{
    
    width:100%;
    margin:0px;
    padding: 0px;
}

#map{
    width:100%;
}

.admin td:nth-child(3){
    color: red; 
    display: none;
}

.info{
    color: red;
    font-weight: bold;
}

.waves{
    position: relative;
    height: 80%; 
    width:70px;

}

.wavesTD{
    padding: 0px;
}

#cover{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    background-color: #000000;
    opacity: 0.25;
    display: none;
    z-index: 1;
}

#message-content{
    display: none;
    color:whitesmoke;
    height: 20%;
    width: 50%;
    position: absolute;
    top: 28%;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
    /* font: 7em bold; */
    font-size: 5vw;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.25);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 4;
}

#message-content2{
    display: none;
    color:red;
    height: 10%;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
    /* font: 7em bold; */
    font-size: 7vw;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:rgba(0, 0, 0, 0.25);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 3;
}

#message-content-background{
    display: none;
    background: rgba(34, 93, 160, 0.7);
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
    font: 2em bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
}


#message{
    display: none;
    background: rgba(34, 93, 160, 0.7);
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
    font: 2em bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
}





#message-search{
    display: initial;
    height: 140px;
    width: 28%;
    position: absolute;
    bottom: 20%;
    left: 10%;
    /* margin-left: -25%; */
    /* border-radius: 10px; */
    border-color: #000000;
    /* font: 2em bold; */
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 3;
    font-size: 10vw;

}

#message-skip{
    display: initial;
    height: 140px;
    width: 28%;
    position: absolute;
    bottom: 20%;
    right: 10%;
    /* border-radius: 10px; */
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 3;
    font-size: 10vw;

}

#btn-search{

    border-radius: 15px;
    border-color: #000000;
    border: 0px solid black;
    color:rgba(9, 10, 56, 1);
    width:100%;
    height: 100%;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.5); 
    z-index: 2;
    font-size: 60px;
    font-weight: bold;

}

#btn-skip{

    border-radius: 15px;
    border-color: #000000;
    border: 0px solid black;
    color:rgba(0, 0, 0, 1);
    width:100%;
    height: 100%;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.5); 
    z-index: 2;
    font-size: 60px;
    font-weight: bold;

}

#message-earning{
    display: none;
    background: rgba(34, 93, 160, 0.7);
    height: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
    font: 2em bold;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    color:whitesmoke;

}

#payoffMessage{
    display: initial;
    height: 25%;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 10%;
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 7vw;   
}

#revenue-title{
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 50%;
    left: 10%;
    /* margin: 10%; */
    /* border-radius: 10px; */
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 5vw; 
}

#revenue{
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 25%;
    left: 10%;
    padding: 2%;

    /* border-radius: 10px; */
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 10vw; 
}


#cost-title{
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 50%;
    right: 38%;
    /* margin: 10%; */

    /* border-radius: 10px; */
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 5vw; 
}

#costRes{
    color:red;
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 25%;
    right: 39%;
    padding: 2%;

    /* border-radius: 10px; */
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 10vw; 
}

#equal{
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 25%;
    right: 27%;
    padding: 2%;

    /* border-radius: 10px; */
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 6vw; 
}

#thePayoff-title{
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 50%;
    right: 15%;
    /* margin: 10%; */

    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 5vw; 
}

#thePayoff{
    display: initial;
    height: 20%;
    width: 28%;
    position: absolute;
    bottom: 25%;
    right: 13%;
    padding: 2%;
    border-color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* the same as your div height */
    z-index: 2;
    font-size: 10vw;   
}




#message-payoff{
    display: none;
    height: 500px;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -25%;
    border-radius: 5px;
    font: 14em bold;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;       /* the same as your div height */
    z-index: 1;
}

svg {
    margin-top: 5px;
}


.hexfield {
    fill: transparent;
    stroke: rgb(0, 0, 0);
    stroke-width: 1;

}

.hexfield:focus {
    outline: none;
}

.hexfield:hover {
    fill: green;
}

.hexfield:active {
    fill: rgba(0, 255, 0, 0.349);
    outline: none;
}

.hexfield.clicked {
    fill: #afcfaf;
}

.hexfield.clickedCorrect {
    fill: #ffee00;
}

.hexfield.foundCorrect {
    fill: red;
}

.hexfield.clickedWrong {
    fill: #000000;
}

.hexfield.blackBorder {
    stroke: rgb(0, 0, 0);
    stroke-width: 4;
}

.hexfield.redBorder {
    stroke: rgb(255, 0, 0);
    stroke-width: 4;
}

body {
    margin: 0;
}



#squares{
    /* position: fixed;  */
    align-content: stretch;
    top: 25%;
    right:20%;
    margin: auto 0;
}


.nav{
    position: absolute;
    top: 25%;
    right:30%;
}

.nav a:hover,.nav a:active{
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
    margin-bottom: 20px;
}
.nav li{
    margin-bottom: 20px;
}
.nav span{
    margin-left: 10px;
}

.square-button{
    background-color: #000000;
}

.container {
    padding-bottom: 15px;
}
.newLineAnswer{
    display: inline;
    margin-right: 55px;
}

.btn-primary{
    background-color:#94b6ff;
}
.btn-primary:active{
    /* background-color:#94b6ff; */
    fill:#94b6ff;
    outline:0;
    border:none;
}

.btn-primary:focus{
    /* background-color:#94b6ff; */
    fill:#94b6ff;
    outline:0;
    border:none;
}

*:focus {outline:none !important}
*:active {outline:none !important}

#form{
    background-image: url('../images/bg4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}
/* #formTable{
    margin-top:600px ;
    margin-left:600px ;
} */

#techlogo{
    /* position:absolute; */
    bottom:15px ;


}

#miniform{
    background: rgba(255, 255, 255, 0.63);
    box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.40);
}

.instruc{
    font-size: 20px;
    
}
.instruc2{
    font-size: 17px;
    
}


.blocks{
    display:inline-block;
    margin:0;
}